{% extends "base.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        {% for field in form.visible_fields %}
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            {{ field }}
        {% endfor %}
        {% for field in form.hidden_field %}
            {{ field }}
        {% endfor %}
    {% endfor %}
    <button type="submit" class="btn btn-secondary">Submit</button>
</form>
{% endblock content %}